IMAGE_NAME="transbian-bazzite"

REPO_ORGANIZATION="CatgirlAria"

IMAGE_DESC="A gay 🏳️‍⚧️ bootc image based on Bazzite, with some tweaks."
IMAGE_KEYWORDS="bootc,oci,linux"

# TODO: Change branch name
IMAGE_LOGO_URL="https://raw.githubusercontent.com/CatgirlAria/transbian-bazzite/refs/heads/dev/1.0/assets/bazzite-transgender.svg"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
